DATABASE_URL="postgresql://neondb_owner:npg_gSFBDy3U2NGP@ep-winter-poetry-ac7i9cie-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# Test: "postgresql://neondb_owner:npg_gSFBDy3U2NGP@ep-winter-poetry-ac7i9cie-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# Production: "postgresql://neondb_owner:npg_gSFBDy3U2NGP@ep-rough-sunset-acncehup-pooler.sa-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
PORT="4306"
JWT_SECRET="pq_no_se_me_guardo_el_punto_env_la_puta_madre"